ion-content {
    --ion-background-color: black !important;
    --ion-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
        url("/assets/images/intro-bg.jpeg") !important;
}

ion-card {
    background: white !important;
}

.add-blog-post {
    width: 100%;
    height: 80px;
    position: fixed;
    text-align: center;
    bottom: 15px;
    font-size: 70px;
    color: var(--accent-color);
    animation: pulse 2.6s infinite;
    transition: 0.6s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(1.05);
    }

    40% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}