<ion-header>
  <ion-toolbar>
    <ion-title class="text-accent">
      Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let blogPost of blogPosts" (click)="openBlogPost(blogPost)">
    <ion-card-header>
      <ion-card-subtitle class="text-accent">{{blogPost.user}}</ion-card-subtitle>
      <ion-card-title class="ion-text-uppercase">{{blogPost.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{blogPost.content}}
    </ion-card-content>

    <ion-card-content *ngIf="blogPost.comments"
      class="ion-text-right text-accent ion-no-padding ion-padding-horizontal ion-padding-bottom">
      {{blogPost.comments.length}} <ion-icon class="text-accent" name="contacts"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="add-blog-post">
    <ion-icon class="ion-text-right" name="add-circle-outline"></ion-icon>
  </div>
</ion-content>