<ion-header>
  <ion-toolbar>
    <ion-title>
      Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let blogPost of blogPosts">
    <ion-card-header>
      <ion-card-subtitle>{{blogPost.user}}</ion-card-subtitle>
      <ion-card-title class="ion-text-uppercase">{{blogPost.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{blogPost.content}}
    </ion-card-content>
    <ion-card-content *ngIf="blogPost.comments" class="ion-text-right">
      {{blogPost.comments.length}} <ion-icon name="contacts"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>