<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="dismiss()" name="arrow-round-back"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="text-accent">{{blogPost.user}}</ion-card-subtitle>
      <ion-card-title class="ion-text-uppercase">{{blogPost.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{blogPost.content}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="blogPost.comments">
    <ion-item class="ion-padding-end" *ngFor="let comment of blogPost.comments">
      <ion-label class="ion-text-wrap">
        <ion-list-header class="ion-no-padding text-accent">
          {{comment.user}}
        </ion-list-header>
        <p>{{comment.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<div class="write-comment">
  <ion-textarea [(ngModel)]="newComment"></ion-textarea>
  <ion-icon (click)="postComment()" class="ion-text-right" name="arrow-round-forward"></ion-icon>
</div>